.hourSelector {
  text-align: center;
}

.datepickerLine {
  font-size: 1.5em;
}

.input {
  margin-right: 1em;
  padding: 0.25em;
  vertical-align: top;
  border-radius: 0.2em;
  border: 1px solid gray;
  width: 10em;

  &:focus {
    border-color: teal;
  }
}

.label {
  cursor: pointer;
  &:hover {
    color: teal;
  }
}

.dialContainer {
  margin-top: 0.5em;
  width: 100%;
  height: 2em;
  border: 1px solid gray;
  border-radius: 0.2em;
  position: relative;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0px 0px 0.25em 0.25em rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.pointer {
  position: absolute;
  width: 0;
  height: 0;
  border: 0.66em solid transparent;
  border-bottom-color: black;
  bottom: -0em;
  left: calc(50% - 0.33em);
  pointer-events: none;
}

.dialBackground {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, #596a72 0%, #cedce7 45%, #cedce7 55%, #596a72 100%);
}

.dial {
  cursor: grab;
  display: flex;
  justify-content: space-around;
  height: 100%;
  position: absolute;
  right: 0;
  transition: right 0.15s cubic-bezier(0.65, 0.05, 0.36, 1),
    transform 0.15s cubic-bezier(0.65, 0.05, 0.36, 1);
  font-size: 0;
}

.hourNotch {
  display: inline-block;
  height: 100%;
  cursor: pointer;
  width: 6px;
  padding: 0;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 0) 100%
  );

  &:hover,
  &:focus {
    border-left-color: rgba(255, 255, 255, 0.35);
    border-right-color: rgba(255, 255, 255, 0.35);
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.85) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
